
.inputContainer {
  display: flex ;
  flex-direction: row;
  justify-content:space-between;
  margin: 1rem;
  background: grey;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

.timeframe { 
  background: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 1rem;
  margin: 0.1rem;
  width: 100%;
}

.inputField {
  border-radius: 0.25rem;
  width: 30%;
  padding: 1rem;
}

.compactContainer { 
  display: flex ;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background: grey;
  border-radius: 0.5rem;
}
