.inputContainer {
  display: flex ;
  flex-direction: row;
  justify-content:space-between;
  margin: 1rem;
  background: grey;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

.inputContainerContainer {
  display: flex ;
  flex-direction: column;
  justify-content:space-between;
  margin: 1rem;
  background: grey;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

.timeframeContainer { 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  width: 80%;
}

.inputField {
  border-radius: 0.25rem;
  width: 30%;
  padding: 1rem;
}
